@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	/* min-height: 100vh; */
	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%; 
	width: 100%;
	object-fit: cover; 
}
/* Nav Section */
.navbar-custom .navbar-nav .nav-link {
	color: #42647F;
}
.nav-item {
	font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
}
.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-nav > .active > a {
	margin-top: -4px;
	text-align: center !important;
	border-radius: 50px 50px;
	width: 100px;
	height: 40px;
	border: 2px solid #42C0FB;
}
/* End Nav Section */

/* Hero Section */
#hero {
	background-image: url('../img/man.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 230px -55px;
	/* width: 100%; */
	/* margin-left: 100px; */
	/* position: relative; */
	/* z-index: 4; */
}
.left {
	margin-left: 50px;
}
.right {
	margin-right: 50px;
}
.nexa {
	font-family: cursive !important;
	font-size: 52px !important;
	color: #2F4F4F;
	font-weight: bold;
	line-height: 50px;
}
h6 {
	color: #42647F;
	font-size: 19px;
	font-weight: normal;
	margin-top: 20px;
}
.section-a .btn {
	background-color: #FF6500;
}
/* End Hero Section */
.section-b {
	/* display: flex; */
	min-height: 100vh;
	/* width: 220vh; */
	align-items: center;
	justify-content: center;
}
/* Section-B */
.background-wrapper {
	position: relative;
	/* width: 100%; */
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background-image: url(../img/woman.png);
	/* background-position: 50% 50%; */
	background-size: cover;
	background-repeat: none;
	max-width: 68%;
	max-height: 350px;
	margin-top: 20px;
	margin-left: 200px;
}
.force-ratio {
	padding-top: 100%;
	display: block;
}
.img-container {
	position: absolute;
	margin: auto;
	top: 35%;
	/* bottom: 50%; */
	left: 0;
	right: 0;
}
.align-center {
	text-align: center;
	font: 0/0 a;
		
}
/* .center-block-align {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
} */
.img-circle {
	cursor: pointer;
	height: 25%;
	width: 20%; 
	/* transform: translate(0%, 0%); */
}
.right2 {
	margin-left: 50px;
}
.black {
	color: #808080;
	font-size: 15px;
	font-weight: bold;
}
.card-glade {
	color: #0099CC;
	text-transform: capitalize;
	font-size: 37px;
	font-weight: bold;
	/* letter-spacing: 2.5px; */
}
.black2 {
	font-size: 14.5px;
	line-height: 1.4;
	letter-spacing: .8px;
	/* font-weight: bold; */
}

.section-b .btn {
	padding: 0.3px solid #FFF !important;
	color: #0099CC;
	font-size: 15px !important;
	border: 2px solid #F0FFFF;
	letter-spacing: 0.2px;
}

.section-b .btn:hover {
	background-color: #808080;
}
/* End Section-B */
/* Section-C */
.section-c {
	
	/* background-color: #F0FFFF; */
	margin-left: 250px;
	margin-top: -150px;

}
.benefits {
	margin-left: -370px;
}
.phone {
	object-fit: cover; 
	margin-left: -100px;
	margin-top: -30px;
}
.right3 {
	height: 450px;
	line-height: 0.1px;
}
.section-c .btn {
	margin-top: 15px;
	margin-left: -15px;
	float: left;
	padding: 0.3px solid #FFF !important;
	color: #0099CC;
	font-size: 15px !important;
	border: 2px solid #F0FFFF;
	letter-spacing: 0.2px;
}

.section-c .btn:hover {
	background-color: #808080;
}
.fa-angle-down {
	margin: 5px;
}
/* End Section-C */
/* Section-D */
.v {
 font-size: 22px;
}
/* End Section-D */
/* Section-E */
.section-e {
	margin: ;
}.card-glade1 {
	color: #0099CC;
	font-size: 32px;
	font-weight: bold;
	line-height: 30px;
}
.section-e .black2 {
	font-size: 12.5px;
}
.section-e .btn {
	background-color: #0099CC;
	font-size: 12px;
	width: 200px;
	letter-spacing: 1.5px;;
	margin-top: 15px;
}
/* End Section-E */
/* Utilities */
.btn {
	color: #fff;
	margin-top: 50px;
	height: 50px;
	width: 180px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50px 50px;
	text-align: center;
	line-height: 35px;
	letter-spacing: 3px;
	text-transform: uppercase;
}